body{background-image: url("150505teenagegirl-stock.jpg");
    background-position: auto;
    background-repeat: no-repeat;
    background-size: cover;
    }

.header{background-color: rgba(128, 0, 128, 0.623);
        overflow: hidden;
        color: blue;}
    
 .header a{float: right;
        color: #e01a1a;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 25px;}
.header a:hover{background-color: yellow;
            color: black;}
 .logo{float: left; }

 h1{text-align: center;
    font-family: cursive;
    word-spacing: 4px;
    color: rgb(236, 232, 9);
    }



#companies{font-family:cursive ;
    font-size: x-large;
border-collapse: collapse;
width: 100%;
color:rgb(17, 2, 156);}   

#companies td, #companies th{border: 1px solid red;
    padding: 12px;
    
    text-align: left;}

#companies tr:nth-child(even){background-color: rgba(251, 247, 7, 0.438);}

#companies tr:hover{background-color: rgba(84, 221, 4, 0.513);}

#companies th{padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    background-color: rgb(184, 13, 8);}

 .footer{position: fixed;
    background-color:rgba(255, 102, 0, 0.383);
    left: 0;    
    width: 100%;
    height: 100px;
    bottom: 0;
    text-align: center;
    color: white;
    overflow: hidden;
    }

.footer p{text-align: center;
    color: rgb(12, 12, 1);
    font-size: 125%;}
.footer a{font-family: 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-decoration: none;
    color: rgba(9, 6, 185, 0.952);
padding-inline-start: 0%;}
